<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

#imported numpy although not stated to, as it makes identifying NaN values much easier
import numpy as np

Load the dataset into a dataframe.

<h2>Read Data</h2>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [2]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [3]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [4]:
await download(file_path, "m1_survey_data.csv")
file_name="m1_survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [5]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

In [ ]:
#df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [6]:
df.duplicated().sum()  # 154 duplicate rows

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [7]:
df.drop_duplicates(inplace=True)

Verify if duplicates were actually dropped.

In [8]:
df.duplicated().sum() #  duplicates dropped!

0

## Finding Missing values

Find the missing values for all columns.

In [9]:
missing = df.isnull().sum()
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
print(missing)

Respondent                   0
MainBranch                   0
Hobbyist                     0
OpenSourcer                  0
OpenSource                  81
Employment                   0
Country                      0
Student                     51
EdLevel                    112
UndergradMajor             737
EduOther                   164
OrgSize                     96
DevType                     65
YearsCode                    9
Age1stCode                  13
YearsCodePro                16
CareerSat                    0
JobSat                       1
MgrIdiot                   493
MgrMoney                   497
MgrWant                    493
JobSeek                      0
LastHireDate                 0
LastInt                    413
FizzBuzz                    37
JobFactors                   3
ResumeUpdate                39
CurrencySymbol               0
CurrencyDesc                 0
CompTotal                  809
CompFreq                   206
ConvertedComp              816
WorkWeekHrs                122
WorkPlan                   121
WorkChallenge              164
WorkRemote                   8
WorkLoc                     32
ImpSyn                       5
CodeRev                      1
CodeRevHrs                2426
UnitTests                   29
PurchaseHow                196
PurchaseWhat                38
LanguageWorkedWith          11
LanguageDesireNextYear     134
DatabaseWorkedWith         453
DatabaseDesireNextYear    1042
PlatformWorkedWith         411
PlatformDesireNextYear     544
WebFrameWorkedWith        1393
WebFrameDesireNextYear    1617
MiscTechWorkedWith        2182
MiscTechDesireNextYear    1455
DevEnviron                  29
OpSys                       34
Containers                  82
BlockchainOrg             2322
BlockchainIs              2610
BetterLife                  98
ITperson                    35
OffOn                       38
SocialMedia                293
Extraversion                20
ScreenName                 507
SOVisit1st                 325
SOVisitFreq                  5
SOVisitTo                    1
SOFindAnswer                 3
SOTimeSaved                 50
SOHowMuchTime             1917
SOAccount                    1
SOPartFreq                1128
SOJobs                       6
EntTeams                     5
SOComm                       0
WelcomeChange               85
SONewContent              1965
Age                        287
Gender                      73
Trans                      123
Sexuality                  542
Ethnicity                  675
Dependents                 140
SurveyLength                19
SurveyEase                  14
dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [10]:
missing_wl = df['WorkLoc'].isnull().sum()
missing_wl  # 32 missing rows in WorkLoc column

32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [11]:
df['WorkLoc'].value_counts()

Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: WorkLoc, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [12]:
df['WorkLoc'].value_counts().idxmax()  # Office

'Office'

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [13]:
workloc_max = df['WorkLoc'].value_counts().idxmax()
df['WorkLoc'].replace(np.nan, workloc_max, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [14]:
missing_wl = df['WorkLoc'].isnull().sum()
missing_wl

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [15]:
categories = df['CompFreq'].unique()
print(categories)  # 'Yearly' 'Monthly' 'Weekly'

['Yearly' 'Monthly' 'Weekly' nan]

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [22]:
NormalizedAnnualCompensation = []

for comp_freq, comp_total in zip(df['CompFreq'], df['CompTotal']):
    if comp_freq == 'Yearly':
        norm_comp = comp_total * 1
        NormalizedAnnualCompensation.append(norm_comp)
    elif comp_freq == 'Monthly':
        norm_comp = comp_total * 12
        NormalizedAnnualCompensation.append(norm_comp)
    elif comp_freq == 'Weekly':
        norm_comp = comp_total * 52
        NormalizedAnnualCompensation.append(norm_comp)
    else: 
        norm_comp = 0
        NormalizedAnnualCompensation.append(norm_comp)

df['NormalizedAnnualCompensation'] = NormalizedAnnualCompensation

df[['CompFreq', 'CompTotal', 'NormalizedAnnualCompensation']].sample(100)

      CompFreq   CompTotal  NormalizedAnnualCompensation
6520    Yearly    140000.0                      140000.0
2668   Monthly    160000.0                     1920000.0
3771    Yearly     90000.0                       90000.0
7719    Yearly     90000.0                       90000.0
57     Monthly     24000.0                      288000.0
4598    Yearly     60000.0                       60000.0
954     Yearly     89000.0                       89000.0
6810   Monthly      1500.0                       18000.0
9440    Yearly     94500.0                       94500.0
11533  Monthly    150000.0                     1800000.0
5342   Monthly     27500.0                      330000.0
3746   Monthly     22000.0                      264000.0
517     Yearly     35000.0                       35000.0
3113    Yearly     82500.0                       82500.0
5869    Yearly     56000.0                       56000.0
6882    Yearly    275000.0                      275000.0
7140    Yearly    120000.0                      120000.0
8349   Monthly     15330.0                      183960.0
501    Monthly     30000.0                      360000.0
9759    Yearly     76000.0                       76000.0
9963    Yearly     61000.0                       61000.0
6746   Monthly    150000.0                     1800000.0
8502   Monthly      1500.0                       18000.0
5262   Monthly     13000.0                      156000.0
5961   Monthly     13000.0                      156000.0
5348    Yearly     30000.0                       30000.0
7992    Yearly         NaN                           NaN
9522    Yearly     65000.0                       65000.0
921     Yearly    135000.0                      135000.0
3497    Yearly     55000.0                       55000.0
5054   Monthly      4400.0                       52800.0
9300   Monthly     96000.0                     1152000.0
5021   Monthly     50000.0                      600000.0
8211    Yearly    140000.0                      140000.0
11399   Yearly    190000.0                      190000.0
2754    Yearly    150000.0                      150000.0
4953    Yearly     45000.0                       45000.0
5902   Monthly     50000.0                      600000.0
1025   Monthly     30000.0                      360000.0
8805   Monthly     35000.0                      420000.0
1929   Monthly     30000.0                      360000.0
7404    Yearly    145000.0                      145000.0
10317   Yearly     85000.0                       85000.0
10244   Yearly     65000.0                       65000.0
1642    Weekly    120000.0                     6240000.0
5796   Monthly     19750.0                      237000.0
1503   Monthly      2000.0                       24000.0
7326    Yearly     27835.0                       27835.0
9223   Monthly     64300.0                      771600.0
2614    Yearly     44500.0                       44500.0
2945    Yearly    135000.0                      135000.0
6696   Monthly      4000.0                       48000.0
7071   Monthly      2900.0                       34800.0
4589       NaN         NaN                           0.0
7693    Yearly    250000.0                      250000.0
10804  Monthly      3500.0                       42000.0
5843    Yearly    155000.0                      155000.0
625     Yearly     56000.0                       56000.0
9174    Yearly     52000.0                       52000.0
10486   Yearly    160000.0                      160000.0
1146    Yearly    400000.0                      400000.0
546    Monthly  80000000.0                   960000000.0
9285    Yearly     60000.0                       60000.0
7888    Yearly     60000.0                       60000.0
4009       NaN         NaN                           0.0
10700  Monthly       900.0                       10800.0
2660    Yearly     38000.0                       38000.0
9049    Yearly   1400000.0                     1400000.0
8251   Monthly      2000.0                       24000.0
2835   Monthly      8000.0                       96000.0
3810   Monthly      2300.0                       27600.0
1484   Monthly   2200000.0                    26400000.0
759     Yearly     66000.0                       66000.0
8271    Yearly     60000.0                       60000.0
11433  Monthly      3900.0                       46800.0
6404    Yearly     70000.0                       70000.0
1973   Monthly     75000.0                      900000.0
6790    Yearly     83000.0                       83000.0
5002   Monthly      1500.0                       18000.0
5678    Yearly    680000.0                      680000.0
5235   Monthly     11650.0                      139800.0
3133    Yearly     52000.0                       52000.0
7201   Monthly      6000.0                       72000.0
6903    Yearly     90000.0                       90000.0
9557    Weekly     60000.0                     3120000.0
6026   Monthly  30000000.0                   360000000.0
2466    Yearly    210000.0                      210000.0
1912   Monthly     68500.0                      822000.0
3294    Yearly     70000.0                       70000.0
5978    Yearly    104000.0                      104000.0
10044   Yearly    120000.0                      120000.0
9948   Monthly  50000000.0                   600000000.0
7725   Monthly      8650.0                      103800.0
4025   Monthly      2700.0                       32400.0
9260    Yearly     73000.0                       73000.0
10324   Weekly       400.0                       20800.0
2066    Yearly    120000.0                      120000.0
2149    Yearly    120000.0                      120000.0
5325       NaN         NaN                           0.0
8996    Yearly    261833.0                      261833.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).